@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend Deca", sans-serif;
}

:root {
  --primary-bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --verydark-cyan: hsl(179, 100%, 13%);
  --neutral-white: hsla(0, 0%, 100%, 0.75);
  --verylight_gray: hsl(0, 0%, 95%);
}

.outer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--verylight_gray);
}

.card_container {
  display: flex;
  width: 920px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.car_container {
  padding: 48px;
}

.sedan_container {
  flex: 1;
  background: var(--primary-bright-orange);
}

.suv_container {
  flex: 1;
  background: var(--dark-cyan);
}

.luxury_container {
  flex: 1;
  background: var(--verydark-cyan);
}

.car_container > h2 {
  margin-top: 32px;
  color: var(--verylight_gray);
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 2.4em;
  text-transform: uppercase;
}

.car_container > p {
  margin-top: 25px;
  color: var(--neutral-white);
  line-height: 1.8em;
  font-size: 0.90em;
  padding-right: 8px;
}

.learn_more {
  padding: 15px 35px;
  border-radius: 25px;
  border: none;
  position: absolute;
  bottom: 48px;
  font-size: 0.9em;
}

.sedan_container > button {
  color: var(--primary-bright-orange);
}

.suv_container > button {
  color: var(--dark-cyan);
}

.luxury_container > button {
  color: var(--verydark-cyan);
}

@media only screen and (max-width: 768px) {
  .card_container {
    flex-direction: column;
    width: 300px;
    height: 1300px;
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .car_container {
    position: relative;
  }

  .car_container > p {
    font-size: 0.80em;
  }

  .learn_more {
    padding: 15px 27px;
  }
}